---
import Layout from '../layouts/Layout.astro'

const expertise = [
  {
    area: 'Front-end Development',
  },
  {
    area: 'Back-end Development',
  },
  {
    area: 'AI & Machine Learning',
  },
  {
    area: 'Framer Animation',
  },
  {
    area: 'Ui/Ux Design',
  },
]

const currentlyLearning = [
  {
    skill: 'Next.js',
  },
  {
    skill: 'GraphQL',
  },
  {
    skill: 'Swift',
  },
  {
    skill: 'Blender',
  },
  {
    skill: 'Unity',
  },
]

const interests = [
  {
    name: 'Coffee',
  },
  {
    name: 'Hip Hop Battle',
  },
  {
    name: 'Music',
  },
  {
    name: 'Reading',
  },
]
---

<Layout>
	<div class="space-y-10">
        <section class="grid grid-cols-2">
            <article class="space-y-6">
                <h1 class="text-2xl font-bold">Get to know more about me</h1>
    
                <p class="leading-relaxed">I am a Product Designer with a strong passion for 3D and AR/VR design. I enjoy combining my artistic background with my technical skills to create innovative and creative solutions.</p>
    
                <p class="leading-relaxed">I have experience developing visionary concepts, conducting user research, and establishing product frameworks through the use of animated and interactive prototypes. Possessing a positive attitude and a growth-oriented mindset, I am constantly seeking opportunities to expand my knowledge and skills as a designer.</p>
            </article>
            <article>
                <h1>sdsdfs</h1>
            </article>
        </section>

        <section class="grid grid-cols-3">
            <aside class="space-y-4">
              <strong class="block">🖥️ Areas of expertise</strong>
              
              <div>
                  {expertise.map((area) => (
                  <p>{area.area}</p>
                  ))}
              </div>
            </aside>
            <aside class="space-y-4">
              <strong class="block">👩‍💻 Currently learning</strong>
              <div>
                  {currentlyLearning.map((learning) => (
                  <p>{learning.skill}</p>
                  ))}
              </div>
            </aside>
            <aside class="space-y-4">
              <strong class="block">☕ Personal interests</strong>
              <div>
                  {interests.map((interest) => (
                  <p>{interest.name}</p>
                  ))}
              </div>
            </aside>
        </section>
    </div>
</Layout>