<div class="h-screen">
    <iframe src="https://docs.google.com/gview?url=https://matheusreinheimer.vercel.app/resume.pdf&embedded=true" height={1000} width="100%" allow="autoplay" class="h-screen"></iframe>
</div>