---
import { Card } from '../ui/card'
---

<section class="space-y-8">
    <h2 class="font-bold text-2xl">UI/UX, Projects, AI</h2>

    <article class="grid grid-cols-3 gap-x-6 gap-y-10">
        <Card.Root>
            <img src="../../cover.png" alt="" class="rounded-xl">
            <Card.Container>
                <div>
                    <Card.Title>Welcome to Astro</Card.Title>
                    <Card.Subtitle>Get started with Astro</Card.Subtitle>
                </div>
                <Card.Description>Welcome to Astro</Card.Description>
            </Card.Container>
        </Card.Root>
        <Card.Root>
            <img src="../../cover.png" alt="" class="rounded-xl">
            <Card.Container>
                <div>
                    <Card.Title>Welcome to Astro</Card.Title>
                    <Card.Subtitle>Get started with Astro</Card.Subtitle>
                </div>
                <Card.Description>Welcome to Astro</Card.Description>
            </Card.Container>
        </Card.Root>
        <Card.Root>
            <img src="../../cover.png" alt="" class="rounded-xl">
            <Card.Container>
                <div>
                    <Card.Title>Welcome to Astro</Card.Title>
                    <Card.Subtitle>Get started with Astro</Card.Subtitle>
                </div>
                <Card.Description>Welcome to Astro</Card.Description>
            </Card.Container>
        </Card.Root>
        <Card.Root>
            <img src="../../cover.png" alt="" class="rounded-xl">
            <Card.Container>
                <div>
                    <Card.Title>Welcome to Astro</Card.Title>
                    <Card.Subtitle>Get started with Astro</Card.Subtitle>
                </div>
                <Card.Description>Welcome to Astro</Card.Description>
            </Card.Container>
        </Card.Root>
    </article>
</section>