---
import { ArrowUpRight } from 'lucide-react'

interface Props {
  title: string
  href: string
  target?: string
  description?: string
}

const { title, href, target, description } = Astro.props
---

<p class="text-muted-foreground flex items-center gap-1">
  {title}
  <a
    href={href}
    class="text-foreground flex items-center gap-1 underline-offset-4 hover:underline"
    target={target}
  >
    {description}
    <ArrowUpRight className="size-4" />
  </a>
</p>
