---
import { ArrowUpRight } from "lucide-react";
---

<div class="grid md:grid-cols-2 items-center gap-24">
  <div class="space-y-6">
    <h1 class="font-bold text-2xl">
      Olá, eu sou Matheus, um desenvolvedor full stack
    </h1>
    <div>
      <p class="text-zinc-500 dark:text-zinc-400 flex gap-1 items-center">
        Desenvolvedor Front-end na <a
          href="https://www.projectivaholding.com.br/"
          class="text-zinc-950 dark:text-zinc-100 flex items-center gap-1 hover:underline underline-offset-4"
          target="_blank"
        >
          Projectiva Holding
          <ArrowUpRight className="size-4" />
        </a>
      </p>
      <p class="text-zinc-500 dark:text-zinc-400 flex gap-1">
        Meu perfil no
        <a
          href="https://www.linkedin.com/in/reinheimermat/"
          class="text-zinc-950 dark:text-zinc-100 hover:underline underline-offset-4 flex items-center gap-1 text-nowrap"
          target="_blank"
        >
          LinkedIn
          <ArrowUpRight className="size-4" />
        </a>
      </p>
      <p class="text-zinc-500 dark:text-zinc-400 flex gap-1">
        Meu portfólio no
        <a
          href="https://www.github.com/reinheimermat"
          target="_blank"
          class="text-zinc-950 dark:text-zinc-100 hover:underline underline-offset-4 flex items-center gap-1"
        >
          GitHub
          <ArrowUpRight className="size-4" />
        </a>
      </p>
    </div>
  </div>
  <div>
    <img
      src="https://github.com/reinheimermat.png"
      alt=""
      class="rounded-full w-52 ms-auto"
    />
  </div>
</div>
