---
import { ArrowUpRight } from 'lucide-react'
---

<div class="grid md:grid-cols-2 items-center gap-24">
	<div class="space-y-6">
		<h1 class="font-bold text-2xl">Hi, I'm Matheus, a full stack developer with a passion for AI and UI/UX</h1>
		<div>
			<p
			  class="text-zinc-500"
			>
			  Front-end Developer at <span class="text-zinc-800">Projectiva</span>
			</p>
			<p
			  class="text-zinc-500 flex gap-1"
			>
			  Graduating from
			  <a
				href="https://www.unisinos.br/"
				class="text-zinc-800 hover:underline flex items-center gap-1"
			  >
			   Unisinos
			   <ArrowUpRight className="size-4" />
			  </a>
			</p>
			<p
			  class="text-zinc-500 flex gap-1"
			>
			  My portfolio on
			  <a
				href="https://www.unisinos.br/"
				class="text-zinc-800 hover:underline flex items-center gap-1"
			  >
			    GitHub
			    <ArrowUpRight className="size-4" />
			  </a>
			</p>
		</div>
	</div>
	<div>
		<img 
		  src="https://github.com/reinheimermat.png" 
		  alt="" 
		  class="rounded-full w-52 ms-auto"
		/>
	</div>
</div>
