---
import '../styles/global.css'
import '@fontsource-variable/inter'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Matheus Reinheimer</title>
	</head>
	<body class="bg-zinc-50 text-zinc-800 container mx-auto max-w-[64rem]">
		<slot />
	</body>
</html>
