---
import Footer from "../components/ui/footer.astro";
import Header from "../components/ui/header.astro";
import "../styles/global.css";
import "@fontsource-variable/inter";
import { ClientRouter } from "astro:transitions";
---

<script is:inline>
  function setDarkMode(document) {
    const getThemePreference = () => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme');
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'theme-light';
    };
    const isDark = getThemePreference() === 'dark';
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

    if (typeof localStorage !== 'undefined') {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains('dark');
        localStorage.setItem('theme', isDark ? 'dark' : 'theme-light');
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ['class'],
      });
    }
  }

  setDarkMode(document);

  document.addEventListener('astro:before-swap', (ev) => {
    // Pass the incoming document to set the theme on it
    setDarkMode(ev.newDocument);
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Matheus Reinheimer</title>
    <ClientRouter />
  </head>
  <body
    class="bg-zinc-50 text-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 antialiased"
  >
    <div class="flex flex-col min-h-screen justify-between">
      <Header />
      <main class="my-20">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
