---
import { ThemeToggle } from "@/components/ui/theme-toggle"
import { ArrowUpRight } from "lucide-react";
import { cn } from "../../utils/cn";

const currentPage = Astro.originPathname;

const pages = [
  {
    title: "Work",
    href: "/",
  },
  {
    title: "About",
    href: "/about",
  },
  {
    title: "Resume",
    href: "https://docs.google.com/viewerng/viewer?url=https://matheusreinheimer.vercel.app/resume.pdf",
  },
];
---

<header class="h-16 relative">
  <div
    class="fixed z-10 flex items-center justify-between py-10 w-full backdrop-blur-xs px-10"
  >
    <a href="/" class="font-bold text-lg"> Matheus Reinheimer </a>
    <nav class="flex items-center gap-8">
      {
        pages.map((page) => (
          <a
            href={page.href}
            class={cn(
              "text-zinc-400 flex gap-2 hover:underline hover:underline-offset-4",
              currentPage === page.href && "font-bold text-zinc-800 dark:text-zinc-100",
            )}
            target={page.href.startsWith("http") ? "_blank" : "_self"}
          >
            {page.title}
            {page.href.startsWith("http") && <ArrowUpRight size={16} />}
          </a>
        ))
      }

      <ThemeToggle client:load />
    </nav>
  </div>
</header>
